 /* Import simplebar-react styles */
@import 'simplebar-react/dist/simplebar.min.css';

 /* For small screens */
@media (max-width: 700px) {
  /* Display cells as block elements */
  tbody tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ddd; /* Add a border between rows */
  }

  /* Show data labels before each cell content */
  tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
  }

  /* Arrange headers and data values side by side */
  thead th, tbody td {
    width: 50%; /* Take half the width of the container */
    box-sizing: border-box; /* Include padding and border in the width */
  }

  /* For each row, split into two halves */
  tbody tr::after {
    content: '';
    width: 100%; /* Create a new block */
    flex: 1; /* Take full width */
    margin-top: 0.5rem; /* Adjust margin between the halves */
  }
}
